[submodule "android"]
	path = android
	url = https://github.com/AltairCardinal/iina-remote-android.git
[submodule "figma"]
	path = figma
	url = https://github.com/AltairCardinal/iina-remote-figma-plugin.git
[submodule "macos"]
	path = macos
	url = https://github.com/AltairCardinal/iina-remote-macos.git
[submodule "server"]
	path = server
	url = https://github.com/AltairCardinal/iina-remote-server.git
